.detail-form__main {
  position: absolute;
  top: 104px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 24px;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  max-width: 1047px;
  background-color: #fff;
}

.detail-form__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.detail-form__content {
  display: flex;
  gap: 16px;
  width: 100%;
  align-items: center;
}

.detail-form__input {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.detail-form__input p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #8a8a8a;
}

.detail-form__input-box {
  width: 238px;
  height: 36px;
  background-color: #d0d0d0;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
}

@media (max-width: 1047px) {
  .detail-form__main {
    display: none;
  }
  .car-information__container {
    padding-top: 100px;
  }
}
