.car-information__container {
  width: 100%;
  padding: 0 16px;
  margin-bottom: 50px;
}

.car-information__main {
  max-width: 1047px;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.car-information__content {
  max-width: 605px;
  padding: 24px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.car-content__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.car-content__desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.car-desc__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.car-desc__info {
  font-weight: 700;
  font-size: 14px;
  line-height: 175%;
  color: #8a8a8a;
  padding-left: 24px;
}

.car-accordion__button {
  display: flex;
  justify-content: space-between;
}

.car-information__card {
  width: 405px;
  padding: 28px 24px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.car-card__image {
  width: 100%;
  height: 222px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car-card_image img {
  aspect-ratio: auto;
}

.car-card__header {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.car-card__header p {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.car-card__people {
  display: flex;
  align-items: center;
  gap: 5px;
}

.car-card__people p {
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  color: #8a8a8a;
}

.car-card__price {
  display: flex;
  justify-content: space-between;
}

.car-card__price p {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
