.faq__container {
  width: 100%;
  padding: 0 16px;
}

.faq__content {
  max-width: 1168px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.faq__text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 368px;
}

.faq__text > p:nth-child(1) {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.faq__text > p:nth-child(2) {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq__list-item {
  width: 668px;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  padding-left: 24px;
  padding-right: 16px;
}

.faq__list-item p {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

@media (max-width: 1024px) {
  .faq__content {
    flex-direction: column;
    align-items: center;
  }

  .faq__text {
    text-align: center;
    margin-bottom: 4px;
    align-items: center;
  }

  .faq__text p {
    max-width: 328px;
  }

  .faq__list-item {
    width: 100%;
    padding: 16px 16px;
    gap: 8px;
  }

  .faq__list-item p {
    max-width: 248px;
  }
}
