.hero-section__container {
  margin-bottom: 104px;
  width: 100%;
  padding-left: 16px;
  padding-top: 177px;
  background-color: #f1f3ff;
}

.hero-section__content {
  max-width: 1168px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-section__main-text {
  max-width: 568px;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: #000000;
}

.hero-section__desc-text {
  max-width: 468px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.hero-section__button {
  margin-bottom: 87px;
}

.hero-section__photo {
  position: absolute;
  z-index: 20;
  right: 0;
  top: 97px;
}

.hero-section__photo img {
  aspect-ratio: 1/1;
}

.hero-section__image-background {
  position: absolute;
  z-index: -1;
  width: 704px;
  height: 60%;
  right: 0;
  bottom: 0;
  background: #0d28a6;
  border-radius: 60px 0px 0px 0px;
}

@media (max-width: 1204px) {
  .hero-section__photo {
    position: static;
  }
  .hero-section__image-background {
    display: none;
  }
}
