.hero-section__container {
  margin-top: 165px;
  margin-bottom: 165px;
  max-width: 100%;
}

.hero-section__main-text {
  width: 568px;
  height: 108px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: #000000;
}

.hero-section__desc-text {
  width: 468px;
  height: 60px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
