.footer-container__bottom {
  width: 100%;
  padding: 10px 16px;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  z-index: 25;
}

.footer-container {
  width: 100%;
  margin-bottom: 25px;
  padding: 0 16px;
}

.footer-content {
  max-width: 1141px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 86px;
}

.footer-address {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-address p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-nav p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.footer-socmed {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-socmed p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.footer-socmed__logo {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-copyright p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.footer-copyright__logo {
  width: 100px;
  height: 34px;
  background-color: #0d28a6;
}

@media (max-width: 768px) {
  .footer-container {
    margin-top: 50px;
  }
  .footer-content {
    flex-direction: column;
    gap: 16px;
  }
}

@media (max-width: 1024px) {
  .footer-content {
    gap: 50px;
  }
}

@media (max-width: 768px) {
  .footer-container__bottom {
    position: static;
    width: 100%;
    margin-bottom: 25px;
    padding: 0 16px;
  }
}
